

@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

 #container {
  -webkit-perspective : 1000px;
  -moz-perspective    : 1000px;
  -o-perspective      : 1000px;
  -ms-perspective     : 1000px;
  perspective         : 1000px;

  -webkit-perspective-origin  : 50% 50%;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;
 }

.animate-cube {
  -webkit-animation : spinningH 2s infinite linear;
  -moz-animation    : spinningH 2s infinite linear;
  -o-animation      : spinningH 2s infinite linear;
  -ms-animation     : spinningH 2s infinite linear;
  animation         : spinningH 2s infinite linear;
}

#cube {
  position: absolute;

  height: 100px;
  width: 100px;
    left: 50%;
    top: 30%;
    transform: translate(-30%, -30%);
  -webkit-transition  : -webkit-transform 1s linear;
  -moz-transition     : -moz-transform 1s linear;
  -o-transition       : -o-transform 1s linear;
  -ms-transition      : -ms-transform 1s linear;
  transition          : transform 1s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 100px;
  width: 100px;
  padding: 20px;
  border:2px solid white;
  opacity: 0.9;
  background-position:center center;
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(50px);
  -moz-transform    : translateZ(50px);
  -o-transform      : translateZ(50px);
  -ms-transform     : translateZ(50px);
  transform         : translateZ(50px);
  background-color  : #00bcd4;
  background-repeat : no-repeat;
  border-radius:50%;
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(50px);
  -moz-transform    : rotateY(90deg) translateZ(50px);
  -o-transform      : rotateY(90deg) translateZ(50px);
  -ms-transform     : rotateY(90deg) translateZ(50px);
  transform         : rotateY(90deg) translateZ(50px);
  background-color  : #00bcd4;
  background-repeat : no-repeat;
  border-radius:50%;
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(50px);
  -moz-transform    : rotateY(180deg) translateZ(50px);
  -o-transform      : rotateY(180deg) translateZ(50px);
  -ms-transform     : rotateY(180deg) translateZ(50px);
  transform         : rotateY(180deg) translateZ(50px);
  background-color  : #00bcd4;
  background-repeat : no-repeat;
  border-radius:50%;
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(50px);
  -moz-transform    : rotateY(-90deg) translateZ(50px);
  -o-transform      : rotateY(-90deg) translateZ(50px);
  -ms-transform     : rotateY(-90deg) translateZ(50px);
  transform         : rotateY(-90deg) translateZ(50px);
  background-color  : #00bcd4;
  background-repeat : no-repeat;
  border-radius:50%;
}

#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(50px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(50px) rotate(180deg);
  background-color  : #00bcd4;
  background-repeat :no-repeat;
  border-radius:50%;
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(50px);
  -moz-transform    : rotateX(90deg) translateZ(50px);
  -o-transform      : rotateX(90deg) translateZ(50px);
  -ms-transform     : rotateX(90deg) translateZ(50px);
  transform         : rotateX(90deg) translateZ(50px);
  background-color  : #00bcd4;
  background-repeat :no-repeat;
  text-align:center;  
  border-radius:50%;
}